* {
 border: 1px solid red; 
}

#bg-image {
 background-image: url("http://www.drodd.com/images15/landscapes15.jpg");
 background-attachment: scroll;
 background-repeat: no-repeat;
 background-size: 100%; 
}

body {
 width = 100%;
}

p {
 font: 14px Arial;
 color: orange;  
}

.First {
 font-size: 80px; 
}

.Nav li {
 display: inline; 
 margin: 0;
 padding: 0; 
}
