body {
 background-image: url("http://www.drodd.com/images15/landscapes15.jpg");
 background-attachment: scroll;
 background-repeat: no-repeat;
 width: 100%;
 position: absolute;
}

p {
 font: 14px Arial;
 color: orange;  
}

.First {
 font-size: 80px; 
}

.Nav li {
 display: inline; 
 margin: 0;
 padding: 0; 
}
