/** {
 border: 1px solid red; 
}*/

#bg-image {
 background-image: url("PracticePlace/194.jpg");
 background-attachment: scroll;
 background-repeat: no-repeat;
 background-size: cover; 
}

#LiGallery {
 font: 35px Times New Roman; 
 color: white;
}

body {
 width = 100%;
}

p {
 font: 14px Arial;
 color: orange;  
}

.First {
 font-size: 80px; 
 color: SeaGreen;
}

.Nav li {
 display: inline; 
 margin: 0;
 padding: 0; 
 color: white;
 font: 28px Times New Roman; 
}

h2 {
 text-align: center;  
 color: SeaGreen; 
}

